<% if !(controller_name == "clubs" && action_name == "new_modal") %>
  <nav class="navbar navbar-dark bg-dark">
    <%= link_to "Crear", new_club_path %>
    <%= link_to 'Log Out', destroy_user_session_path, :method => 'delete' %>
  </nav>
<% end %>
