<div class="d-flex justify-content-center align-items-center bg-img" style="height: 100vh;">
  <form class="w-500 bg-login p-5 text-black text-center rounded">
    <%= link_to 'Log Out', destroy_user_session_path, :method => 'delete' %>
  </form>
</div>
